* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    font-weight: 200 !important;
  }

  b, strong {
    font-weight: 400 !important;
  }

  header {
    display: flex;
    height: 4rem;
  }

  header {
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 4em;
    padding: 0 5vw;
    justify-content: space-between;
    background-color: #004963;
    border-bottom: 2px #fff solid;
   }
  
  .logo img {
    height: 100%;
    padding: 1.25em;
  }
  
  nav {
    display: flex;
    padding: 1.25em 2em;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #ffffff;
  }

  .hr-nav {
    margin: 0;
  }
  
  .nav-item {
    align-self: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .section {
    padding: 15vh 0;
    min-height: 100vh;
  }

  .section .title {
    margin-left: 2em;
  }

  .banner {
    height: 100vh;
    background-color: #70A59F;
    color: #ffffff;
    min-height: 600px;
  }

  .banner-text {
    padding: 10vw;
  }

  .title {
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: right;
  }

  #arrow-wrapper {
    position: absolute;
    bottom: 0;
  }

  svg {
    fill: currentColor;
  }

  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -moz-transform: translateY(15px);
      transform: translateY(15px);
    }
  }
  .arrow {
    text-align: center;
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 32 32' height='32px' id='Слой_1' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M24.285,11.284L16,19.571l-8.285-8.288c-0.395-0.395-1.034-0.395-1.429,0 c-0.394,0.395-0.394,1.035,0,1.43l8.999,9.002l0,0l0,0c0.394,0.395,1.034,0.395,1.428,0l8.999-9.002 c0.394-0.395,0.394-1.036,0-1.431C25.319,10.889,24.679,10.889,24.285,11.284z' fill='%23ffffff' id='Expand_More'/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3C/svg%3E ");
    background-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }

  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(15px);
      transform: translateY(15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -moz-transform: translateY(15px);
      -ms-transform: translateY(15px);
      -webkit-transform: translateY(15px);
      transform: translateY(15px);
    }
  }

  .featured-work {
    background-color: #FCF5EF;
  }

  .card {
    height: 40vh;
  }

  .card-wrapper {
    padding-bottom: 2rem;
  }

  .card-wrapper:last-child {
    padding-bottom: 0;
  }

  .card-img-top {
    height: 80%;
    /* object-fit: cover; */
    background-position: top center;
    background-size: cover;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .card-title{
    text-align: center;
    margin: .25rem;
  }

  .card-body-hover {
    position: absolute;
    background-color: #DB847A;
    color:#ffffff;
    padding: 1.25em;
    width:100%;
    height:100%;
    z-index: 10;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0
  }

  .card-wrapper:hover .card-body-hover, .card-wrapper:active .card-body-hover {
    display: block !important;
    opacity: 1;
  }


  .other-work {
    background-color: #DB847A;
    color: #ffffff;
  }
  .projects {
    padding-left: 0;
  }
  .projects > li {
    list-style: none;
    margin-bottom: 1em;
  }
  .projects a {
    color: #ffffff;
  }
  .projects h4 {
    font-weight: 300 !important;
  }
  .work-wrapper ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.25rem;
  }
  .work-wrapper ul > li {
      margin-left: 15px;
      font-size: 1.25rem;
  }
  /* Prevent nested li's from getting messed up */
  .work-wrapper ul > li::before {
      content: "-";
      margin-left: -15px;
      margin-right: 7px;
  }

  .contact {
    background-color: #FCF5EF;
  }

  .contact-img {
    background: linear-gradient(to right, transparent, #FCF5EF 95%), #FCF5EF url(./images/contactimg.png) no-repeat left;
    background-size: cover;
    margin: -15vh 0;
  }

  @media only screen and (max-width: 576px) {
    h1 {
      font-size: 2rem;
      margin-bottom: 4em;
    }
    .navbar {
      border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .projects h4 {
      font-size: 1.25rem;
    }
    .work-wrapper ul > li, h5 {
      font-size: 1rem;
      line-height: 1.5;
    }
    .section {
      padding: 10vh 0;
    }
    .section .title {
      margin-left: 0;
      text-align: center;
      justify-content: center!important;
    }
    .contact-img {
      margin: -10vh 0;
    }

    .projects {
      padding: 0 1.5em;
    }

    .card {
      height: 60vh;
    }

    .contact-content {
      position: absolute;
      width: 100%;
      background-color: rgba(252,245,239, 0.5);
      padding: 2rem;
      margin-top: 20vh;
    }

    .social-icons li>h4 {
      font-size: 1.25rem;
    }

    .connect {
      padding: 0 !important;
    }
  }

 @media only screen and (max-width: 768px) {
    h1 {
      font-size: 1.75rem;
      margin-bottom: 4em;
    }
  }

  .card a {
    color: #ffffff;
    font-size: 1.2rem;
    margin: .25rem;
  }

  h5 {
    line-height: 1.5;
  }

  .social-icons li {
    display: inline-block;
    font-size: 2.5em;
    padding: .2em;
    line-height: 76px;
    vertical-align: middle;
  }

  .social-icons li:first-of-type{
    padding-right: .4em !important;
  }

  .social-icons li>a {
    color: #DB847A;
  }

  .connect {
    font-size: 1.25rem !important;    
  }